@import "../../../utils/breakpoints";

.root {
  width: 100%;
  height: 156px;
  display: flex;
  padding: 0 23px;
}

@mixin btnBaseStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.controlBtn {
  @include btnBaseStyle;
  flex: 1;
  z-index: 10;

  img {
    display: block;
    margin: auto;
    width: 20px;
    cursor: pointer;
    transition: filter 0.35s;

    &:active {
      filter:brightness(200%);
      transition: filter 0.35s;
    }
    &.active {
      filter:brightness(200%);
      transition: filter 0.35s;
    }

    @include breakpoint('sm') {
      width: 26px;
    }
  }
}

.playBtn {
  @include btnBaseStyle;
  flex: 2.5;
  z-index: 0;
  border-radius: 300px;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: auto;
    opacity: 1;
    transition: opacity 0.2s;
    border-radius: 300px;
    cursor: pointer;
    width: 110px;

    &.active {
      width: 180px;
      margin-left: 6px;
    }
    &.fadeOut {
      opacity: 0;
      transition: opacity 0.2s;
    }

    @include breakpoint('sm') {
      width: 164px;
      &.active {
        width: 270px;
      }
    }
  }
}