@import "../../../utils/breakpoints";

.root {
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  display: flex;
  flex-flow: row nowrap;

  @include breakpoint('sm') {
    height: 90px;
  }
}
.playlistImgWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  @include breakpoint('sm') {
    padding: 0 45px;
  }
}
.playlistImg {
  width: 26px;
  @include breakpoint('sm') {
    width: 36px;
  }
}
.nextSongContentWrapper {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.label {
  font-family: Gilroy sans-serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #6f729c;

  @include breakpoint('sm') {
    font-size: 18px;
    line-height: 2;
  }
}
.songInfoRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding-right: 32px;

  @include breakpoint('sm') {
    padding-right: 64px;
  }
}
.songTitle {
  font-family: Gilroy sans-serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  text-align: left;
  letter-spacing: normal;
  color: #1b1b1b;

  @include breakpoint('sm') {
    font-size: 20px;
    line-height: 1.8;
  }
}
.songDuration {
  font-family: Gilroy sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: right;
  color: #6f729c;

  @include breakpoint('sm') {
    font-size: 22px;
    line-height: 1.5;
  }
}