@import "../../../utils/breakpoints";

.root {
  flex: 1;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.albumInfo {
  font-family: Gilroy sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #6f729c;
  margin: 0;
  font-size: 14px;

  @include breakpoint('sm') {
    font-size: 18px;
  }
}
.albumTitle {
  font-family: Gilroy sans-serif;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  margin: 7px 0;

  @include breakpoint('sm') {
    font-size: 24px;
    margin: 13px 0;
  }
}