.btnContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 29px;
  width: 29px;
  margin: 14px 8px;
  user-select: none;
}
.img {
  height: 100%;
}